%main-flex {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

%banner-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  background: linear-gradient(280deg, rgba(28, 60, 102, 60%) 0%, rgba(9, 9, 121, 60%) 35%, rgba(128, 0, 255, 60%) 100%);
  border-radius: 30px;
  color: white;
  box-shadow: 0 0 20px 0 #7c3ba9;
}

%info-block {
  border-bottom: 2px solid #4d1389;
  padding-top: 6.5rem;
  padding-bottom: 7rem;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}