:root {
  --dark-col: #1A2528;
  --dark-gray: #212121;
  --dress-code-pink: #fbe1e2;
  --dress-code-violet: #e1d4e0;
  --dress-code-women-gray: #b4b5c6;
  --dress-code-women-dark-gray: #aeadb4;
  --dress-code-man-gray: #615f6a;
  --dress-code-dark-violet: #403c45;
  --dress-code-brown: #726163;
  --dress-code-light-brown: #b7a3a1;
}