{% extends 'base/base.html' %}
{% load static %}

{% block title %}Pronia - Compare{% endblock %}

{% block main %}
  <main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="{% static 'images/breadcrumb/bg/1-1-1919x388.jpg' %}">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">Compare Page</h2>
                        <ul>
                            <li>
                                <a href="{% url 'index' %}">Home</a>
                            </li>
                            <li>Compare</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="compare-area section-space-y-axis-100">
        <div class="container">
            <div class="compare-table table-responsive">
                <table class="table table-bordered table-hover mb-0">
                    <tbody>
                        <tr>
                            <th class="compare-column-titles">Image</th>
                            <td class="compare-column-productinfo">
                                <div class="compare-pdoduct-image">
{#                                    <a href="{% url 'shop:product' %}">#}
                                        <img src="{% static 'images/product/small-size/1-1-112x124.png' %}" alt="Wishlist Thumbnail">
{#                                    </a>#}
                                    <a href="{% url 'shop:cart' %}" class="btn btn-custom-size lg-size btn-pronia-primary">
                                        <span>ADD TO CART</span>
                                    </a>
                                </div>
                            </td>
                            <td class="compare-column-productinfo">
                                <div class="compare-pdoduct-image">
{#                                    <a href="{% url 'shop:product' %}">#}
                                        <img src="{% static 'images/product/small-size/1-1-112x124.png' %}" alt="Wishlist Thumbnail">
{#                                    </a>#}
                                    <a href="{% url 'shop:cart' %}" class="btn btn-custom-size lg-size btn-pronia-primary">
                                        <span>ADD TO CART</span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Product Name</th>
                            <td>
                                <h5 class="compare-product-name">
{#                                    <a href="{% url 'shop:product' %}">American Marigold</a>#}
                                </h5>
                            </td>
                            <td>
                                <h5 class="compare-product-name">
{#                                    <a href="{% url 'shop:product' %}">Black Eyed Susan</a>#}
                                </h5>
                            </td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>Nulla pulvinar et urna malesuada elementum. Nunc placerat, quam et tempus ullamcorper,
                                nunc erat imperdiet lacus, vel auctor arcu lacus non ligula.
                            </td>
                            <td>Nulla pulvinar et urna malesuada elementum. Nunc placerat, quam et tempus ullamcorper,
                                nunc erat imperdiet lacus, vel auctor arcu lacus non ligula.
                            </td>
                        </tr>
                        <tr>
                            <th>Price</th>
                            <td>$23.45</td>
                            <td>$25.45</td>
                        </tr>
                        <tr>
                            <th>Color</th>
                            <td>Black</td>
                            <td>Red</td>
                        </tr>
                        <tr>
                            <th>Size</th>
                            <td>Medium</td>
                            <td>Large</td>
                        </tr>
                        <tr>
                            <th>Stock</th>
                            <td>In Stock</td>
                            <td>Stock Out</td>
                        </tr>
                        <tr>
                            <th>Rating</th>
                            <td>
                                <div class="rating-box justify-content-center">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <div class="rating-box justify-content-center">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}