{% extends 'products/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
  {% trans 'Amado - Furniture Ecommerce Template | Profile' %}
{% endblock %}

{% block content %}
  <div class="cart-table-area section-padding-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-8">
          <div class="checkout_details_area mt-50 clearfix">
            <div class="cart-title">
              <h2>{% trans 'Your profile' %}</h2>
            </div>

            <div class="col-md-12 mb-3 text-center">
              <img
                width="200"
                height="200"
                src="{% if user.image %}{{ user.image.url }}{% else %}{% static 'img/core-img/foto.jpg' %}{% endif %}"
                class="img-thumbnail"
                alt=""
              >
            </div>

            <form action="{% url 'users:profile' %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-12 mb-3 text-center">
                  <label
                    class="btn amado-btn mb-15"
                    for="{{ form.image.id_for_label }}"
                  >
                    {% trans 'Select an image' %}
                  </label>
                  {{ form.image }}
                </div>

                <div class="col-12 mb-3">
                    <label for="{{ form.first_name.id_for_label }}"></label>{{ form.first_name }}
                    <label for="{{ form.last_name.id_for_label }}"></label>{{ form.last_name }}
                    <label for="{{ form.username.id_for_label }}"></label>{{ form.username }}
                    <label for="{{ form.email.id_for_label }}"></label>{{ form.email }}
                    <label for="{{ form.town.id_for_label }}"></label>{{ form.town }}
                    <label for="{{ form.address.id_for_label }}"></label>{{ form.address }}
                  <div class="col-md-12 mb-3 text-center">
                    <input class="btn amado-btn mb-15" type="submit" value="{% trans 'Save changes' %}">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
