{% load static %}

<link href="{% static 'frontend/favicon.ico' %}" rel="shortcut icon">
<link rel="preload" href="{% static 'frontend/assets/fonts/Roboto/Roboto-Regular.woff' %}" as="font">
<link rel="preload" href="{% static 'frontend/assets/fonts/Roboto/Roboto-Italic.woff' %}" as="font">
<link rel="preload" href="{% static 'frontend/assets/fonts/Roboto/Roboto-Bold.woff' %}" as="font">
<link rel="preload" href="{% static 'frontend/assets/fonts/Roboto/Roboto-Bold_Italic.woff' %}" as="font">
<link rel="preload" href="{% static 'frontend/assets/fonts/Roboto/Roboto-Light.woff' %}" as="font">
<link rel="preload" href="{% static 'frontend/assets/fonts/Roboto/Roboto-Light_Italic.woff' %}" as="font">
<link rel="stylesheet" href="{% static 'frontend/assets/css/fonts.css' %}">
<link rel="stylesheet" href="{% static 'frontend/assets/css/basic.css' %}">
<link rel="stylesheet" href="{% static 'frontend/assets/css/extra.css' %}">
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static 'frontend/assets/plg/vue.global.js' %}"></script>
<script src="{% static 'frontend/assets/js/app.js' %}"></script>
<script src="{% static 'frontend/assets/plg/CountDown/countdown.js' %}"></script>