{% load static %}

<script src="{% static 'frontend/assets/js/app.js' %}"></script>
<script src="{% static 'frontend/assets/plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>
<script src="{% static 'frontend/assets/plg/form/jquery.form.js' %}"></script>
<script src="{% static 'frontend/assets/plg/form/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'frontend/assets/plg/range/ion.rangeSlider.min.js' %}"></script>
<script src="{% static 'frontend/assets/plg/Slider/slick.min.js' %}"></script>
<script src="{% static 'frontend/assets/js/scripts.js' %}"></script>