{% extends "base/base.html" %}
{% load static %}

{% block content %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Корзина
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'shop:index' %}">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Корзина</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% if not user.is_authenticated %}
      <p>Для сохранения корзины необходимо
        <a href="{% url 'users:login' %}?next={% url 'shop:cart' %}">авторизоваться</a></p>
    {% endif %}

    <div class="Section">
      <div class="wrap">
        <div class="form Cart">
          <!-- Данные по товару в корзине -->
          {% for basket in cart_items %}
            {% if user.is_authenticated %}
              <div v-for="product in Object.values(basket)" class="Cart-product">
                <div class="Cart-block Cart-block_row">
                  <div class="Cart-block Cart-block_pict"><a class="Cart-pict"
                    href="{% url 'shop:product' basket.shop.pk %}">
                    <img class="Cart-img" src="{{ basket.shop.image.url }}" :alt="product.title"/></a>
                  </div>
                  <div class="Cart-block Cart-block_info">
                    <a class="Cart-title" href="{% url 'shop:product' basket.shop.pk %}">{{ basket.shop.name }}</a>
                    {% if basket.shop.short_description != None %}
                      <div class="Cart-desc">{{ basket.shop.short_description }}</div>
                    {% endif %}
                  </div>
                  <div class="Cart-block Cart-block_price">
                    <div class="Cart-price">{{ basket.shop.price }}$</div>
                  </div>
                </div>
                <div class="Cart-block Cart-block_row">
                  <div class="Cart-block Cart-block_seller"></div>
                  <div class="Cart-block Cart-block_amount">
                    <div class="Cart-amount">
                      <div class="Amount">
                        <form style="margin-bottom: 0"
                          action="{% url 'shop:remove_from_cart' basket.shop.pk %}"
                          method="post">
                          {% csrf_token %}
                          <input type="hidden" name="product_id" value="{{ basket.shop.pk }}">
                          <button class="Amount-remove" type="submit"></button>
                        </form>

                        <label>
                          <input class="Amount-input form-input"
                            name="amount"
                            type="text"
                            value="{{ basket.quantity }}"/>
                        </label>

                        <form style="margin-bottom: 0"
                          action="{% url 'products:add_to_cart' basket.shop.pk %}"
                          method="post">
                          {% csrf_token %}
                          <input type="hidden" name="product_id" value="{{ basket.shop.pk }}">
                          <button class="Amount-add" type="submit"></button>
                        </form>
                      </div>
                    </div>
                  </div>

                  <div class="Cart-block Cart-block_delete">
                    <form style="margin-bottom: 0"
                      action="{% url 'products:basket_del' basket.shop.pk %}"
                      method="post">
                      {% csrf_token %}
                      <input type="hidden" name="product_id" value="{{ basket.shop.pk }}">
                      <button class="Cart-delete">
                        <img src="{% static 'frontend/assets/img/icons/card/delete.svg' %}"
                          alt="delete.svg"/>
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}

          <div class="Cart-total">
            <div class="Cart-block" v-if="basketCount.count">
              <form action="{% url 'shop:order_step1' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn_success btn_lg">Оформить заказ</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {#    <table>#}
  {#      <thead>#}
  {#      <tr>#}
  {#        <th>Название</th>#}
  {#        <th>Цена</th>#}
  {#        <th>Количество</th>#}
  {#        <th>Действия</th>#}
  {#      </tr>#}
  {#      </thead>#}
  {#      <tbody>#}
  {#      {% for item in cart_items %}#}
  {#        {% if user.is_authenticated %}#}
  {#          <tr>#}
  {#            <td>{{ item.shop.title }}</td>#}
  {#            <td>{{ item.shop.price }}</td>#}
  {#            <td>{{ item.quantity }}</td>#}
  {#            <td>#}
  {#              <a href="{% url 'shop:remove_from_cart' item.shop.pk %}">Удалить</a>#}
  {#            </td>#}
  {#          </tr>#}
  {#        {% else %}#}
  {#          <tr>#}
  {#            <td>{{ item.product.title }}</td>#}
  {#            <td>{{ item.product.price }}</td>#}
  {#            <td>{{ item.quantity }}</td>#}
  {#            <td>#}
  {#              <a href="{% url 'shop:remove_from_cart' item.product.pk %}">Удалить</a>#}
  {#            </td>#}
  {#          </tr>#}
  {#        {% endif %}#}
  {#      {% empty %}#}
  {#        <tr>#}
  {#          <td colspan="4">Корзина пуста</td>#}
  {#        </tr>#}
  {#      {% endfor %}#}
  {#      </tbody>#}
  {#    </table>#}
{% endblock %}

{% block mixins %}
  <script src="{% static 'frontend/assets/js/cart.js' %}"></script>
{% endblock %}
