{% extends "base/base.html" %}
{% load static %}

{% block content %}
  <div class="Middle">
    <div class="Section">
      <div class="wrap">
        <div class="BannersHome">
          <!-- Получаем баннеры -->
          <a v-for="(banner, index) in banners"
            :key="index"
            class="BannersHomeBlock"
            href="{% url 'shop:catalog' %}">
            <div class="BannersHomeBlock-row">
              <div class="BannersHomeBlock-block">
                <strong class="BannersHomeBlock-title">Баннер для магазина электроники Megano</strong>
                <div class="BannersHomeBlock-content">from &#32;<span class="BannersHomeBlock-price">$500</span>
                </div>
              </div>
              <div class="BannersHomeBlock-block" v-if="banner.images.length > 0">
                <div class="BannersHomeBlock-img">
                  <img src="{% static 'frontend/bricks/extra/BannersHome/banner.jpg' %}" alt="banner.title"/>
                </div>
              </div>
            </div>
          </a>
          <!-- Получаем баннеры -->

        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnDesktop">
      <div class="wrap">
        <div class="Section-content">
          <header class="Section-header">
            <h2 class="Section-title">Popular Products</h2>
          </header>
          <div class="Cards">

            <!-- Получаем популярные товары -->
            {% for product in index %}
              <div v-for="card in popularCards" class="Card">
                <a class="Card-picture" href="{% url 'shop:product' product.pk %}">
                  <img v-if="card.images.length > 0" src="{{ product.image.url }}" :alt="card.title"/></a>
                <div class="Card-content">
                  <strong class="Card-title"><a :href="card.href">{{ product.name }}</a>
                  </strong>
                  <div class="Card-description">
                    <div class="Card-cost"><span class="Card-price">${{ product.price }}</span></div>

                    <div class="Card-category">{{ product.category }}</div>

                    <div class="Card-hover">
                      {#                      <form action="{% url 'products:basket_add' %}" method="post">#}
                      <form action="{% url 'products:add_to_cart'  product.pk %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.pk }}">
                        <button style="border-style: none" type="submit" class="Card-btn">
                          <img src="{% static 'frontend/assets/img/icons/card/cart.svg' %}" alt="cart.svg"/>
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
            <!-- Получаем популярные товары -->

          </div>
        </div>
      </div>
    </div>

    <div class="Section Section_column Section_columnDesktop">
      <div class="wrap">
        <div class="Section-content">
          <header class="Section-header">
            <h2 class="Section-title">Limited edition</h2>
          </header>
          <div class="Cards">

            <!-- Получаем популярные товары -->
            {% for item in top %}
              <div v-for="card in popularCards" class="Card">
                <a class="Card-picture" href="{% url 'shop:product' item.pk %}">
                  <img v-if="card.images.length > 0" src="{{ item.image.url }}" :alt="card.title"/></a>
                <div class="Card-content">
                  <strong class="Card-title"><a :href="card.href">{{ item.name }}</a>
                  </strong>
                  <div class="Card-description">
                    <div class="Card-cost"><span class="Card-price">${{ item.price }}</span></div>

                    <div class="Card-category">{{ item.category }}</div>

                    <div class="Card-hover">
                      <form action="{% url 'products:add_to_cart'  item.pk %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ item.pk }}">
                        <button style="border-style: none" type="submit" class="Card-btn">
                          <img src="{% static 'frontend/assets/img/icons/card/cart.svg' %}" alt="cart.svg"/>
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
            <!-- Получаем популярные товары -->

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block mixins %}
  <script src="{% static 'frontend/assets/js/index.js' %}"></script>
{% endblock %}