{% extends "base/base.html" %}
{% load static %}

{% block content %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Оформление заказа
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'shop:index' %}">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Оформление заказа</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnRight Section_columnWide Order">
      <div class="wrap">
        <div class="Section-column">
          {% if user.is_authenticated %}
            <div class="Section-columnSection">
              <header class="Section-header">
                <strong class="Section-title">Прогресс заполнения
                </strong>
              </header>
              <div class="Section-columnContent">
                <ul class="menu menu_vt Order-navigate">
                  <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="{% url 'shop:order_step1' %}">Шаг 1.
                    Параметры
                    пользователя</a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="{% url 'shop:order_step2' %}">Шаг 2. Способ
                    доставки</a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="{% url 'shop:order_step3' %}">Шаг 3. Способ
                    оплаты</a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="{% url 'shop:order_confirm' %}">Шаг 4. Подтверждение
                    заказа</a>
                  </li>
                </ul>
              </div>
            </div>
          {% endif %}
        </div>
        <div class="Section-content">
          {% if user.is_authenticated %}
            <form class="form" action="#" method="post">
              {% csrf_token %}
              <div class="Order-block" id="step4">
                <header class="Section-header Section-header_sm">
                  <h2 class="Section-title">Шаг 4. Подтверждение заказа</h2>
                </header>
                <div class="Order-infoBlock">
                  <div class="Order-personal">
                    {% if order %}
                      <h2>Данные заказа:</h2>
                      <ul>
                        <li>ФИО: {{ order.name }}</li>
                        <li>Телефон: {{ order.phone }}</li>
                        <li>Электронная почта: {{ order.email }}</li>
                        <li>Способ доставки: {{ order.delivery }}</li>
                        <li>Адрес: {{ order.address }}</li>
                        <li>Город: {{ order.city }}</li>
                        <li>Способ оплаты: {{ order.payment }}</li>
                      </ul>
                    {% else %}
                      <p>Данные заказа не найдены</p>
                    {% endif %}
                  </div>
                  <div class="Cart Cart_order">
                    <div v-for="product in order.products" class="Cart-product">
                      {% for basket in baskets %}
                        <div class="Cart-block Cart-block_row">
                          <div class="Cart-block Cart-block_pict">
                            <a class="Cart-pict" href="{% url 'shop:product' basket.shop.pk %}">
                              <img class="Cart-img"
                                src="{{ basket.shop.image.url }}"
                                alt=""/>
                            </a>
                          </div>
                          <div class="Cart-block Cart-block_info">
                            <a class="Cart-title"
                              href="{% url 'shop:product' basket.shop.pk %}">{{ basket.shop.name }}</a>
                            <div class="Cart-desc">{{ basket.shop.short_description }}</div>
                          </div>
                        </div>
                        <div class="Cart-block Cart-block_price">
                          <div class="Cart-price">{{ basket.shop.price }}$</div>
                        </div>
                        <div class="Cart-block Cart-block_row">
                          <div class="Cart-block Cart-block_amount">{{ basket.quantity }} шт.</div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                  <!-- Товар на оплату -->

                  <div class="Cart-total">
                    <div class="Cart-block Cart-block_total">
                      <strong class="Cart-title">Итого:</strong>
                      <span class="Cart-price">{{ baskets_count }} товаров на сумму {{ total_sum }}$$</span>
                    </div>
                    <div class="Cart-block">
                      <a href="{% url 'page:payment' %}">
                        <button class="btn btn_primary btn_lg" type="submit">Оплатить</button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          {% else %}
            <div class="row-block">
              <form action="/auth/signin?next={{ request.get_full_path }}" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label class="form-label" for="login">Логин</label>
                  <input class="form-input" id="login" name="login" type="text" placeholder="Login"/>
                </div>
                <div class="form-group">
                  <label class="form-label" for="password">Пароль</label>
                  <input class="form-input" id="password" name="password" type="password" placeholder="Password"/>
                </div>
                <div class="form-group">
                  <button class="btn btn_muted Order-btnReg" type="submit">Авторизация</button>
                </div>
                <div class="form-group"><a class="btn btn_muted Order-btnReg" href="/auth/signup">Регистрация</a>
                </div>
              </form>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block mixins %}
  <script src="{% static 'frontend/assets/js/order-detail.js' %}"></script>
{% endblock %}