{% extends "base/base.html" %}
{% load static %}

{% block content %}
  {% for product in products %}
    <div class="Middle Middle_top">
      <div class="Middle-top">
        <div class="wrap">
          <div class="Middle-header">
            <h1 class="Middle-title">Megano Product
            </h1>
            <ul class="breadcrumbs Middle-breadcrumbs">
              <li class="breadcrumbs-item"><a href="{% url 'shop:index' %}">home</a></li>
              <a class="breadcrumbs-item breadcrumbs-item_current" href="{% url 'shop:category' product.category.pk %}">
                <span>{{ product.category }}</span>
              </a>
              <li class="breadcrumbs-item breadcrumbs-item_current"><span>{{ product.name }}</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="Section">
        <div class="wrap">
          <div class="Product">
            <div class="ProductCard">
              <div class="ProductCard-look">

                <!-- Основное фото -->
                <div class="ProductCard-photo">
                  <img src="{{ product.image.url }}" :alt="photoAlt"/>
                </div>
                <!-- Основное фото -->

                <!-- Миниатюры -->
                <div class="ProductCard-picts">
                  <a v-for="src in product.images" class="ProductCard-pict ProductCard-pict_ACTIVE" :href="src">
                    <img src="{{ product.image.url }}" :alt="product.title"/>
                  </a>
                </div>
                <!-- Миниатюры -->

              </div>
              <div class="ProductCard-desc">
                <div class="ProductCard-header">
                  <h2 class="ProductCard-title">{{ product.name }}</h2>
                  <div class="ProductCard-info">
                    <div class="ProductCard-cost">
                      <div class="ProductCard-price">${{ product.price }}</div>
                    </div>
                  </div>
                </div>
                <div class="ProductCard-text">

                  <!-- Описание как html -->
                  <div v-html="product.description">{{ product.description }}</div>
                  <!-- Описание как html -->

                </div>
                <div class="ProductCard-cart">
                  <div class="ProductCard-cartElement">
                    <form action="{% url 'products:basket_add' %}" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="product_id" value="{{ product.pk }}">
                      <button class="btn btn_primary">
                        <img class="btn-icon"
                          src="{% static 'frontend/assets/img/icons/card/cart_white.svg' %}"
                          alt="cart_white.svg"/>
                        <span class="btn-content">Add To Cart</span>
                      </button>
                    </form>
                  </div>
                </div>
                <div class="ProductCard-footer">
                  <div class="ProductCard-tags">
                    <strong class="ProductCard-tagsTitle">Tags:</strong>

                    <!-- Как добавить пробел между ссылками? -->
                    <div v-for="(tag, index) in tags">{{ product.tag }}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="Tabs Tabs_default">
              <div class="Tabs-links">
                <a class="Tabs-link_ACTIVE Tabs-link" href="#description">
                  <span>Описание</span>
                </a>
                <a class="Tabs-link" href="#reviews">
                  <span>Отзывы на {{ product.name }}</span>
                </a>
              </div>
              <div class="Tabs-wrap">
                <div class="Tabs-block" id="description">
                  <div v-html="product.fullDescription"></div>


                  <div class="clearfix">
                  </div>
                  <div class="table">
                    <table>
                      <tr>
                        <th>Характеристика
                        </th>
                        <th>Значение
                        </th>
                      </tr>
                      {% for feat in feature %}
                        <tr v-for="spec in product.specifications">
                          <td>{{ feat.name }}</td>
                          <td>{{ feat.description }}</td>
                        </tr>
                      {% endfor %}
                    </table>
                  </div>
                </div>
                <div class="Tabs-block" id="reviews">
                  <header class="Section-header">
                    <h3 class="Section-title">{{ reviews_count }} Отзывов</h3>
                  </header>
                  {% for review in reviews %}
                    <div class="Comments">
                      <div v-for="review in product.reviews" class="Comment">
                        <div class="Comment-column Comment-column_pict">
                          <div class="Comment-avatar"></div>
                        </div>
                        <div class="Comment-column">
                          <header class="Comment-header">
                            <div>
                              <strong class="Comment-title">Автор: {{ review.name }}</strong>
                              <span class="Comment-date">Оценка: {{ review.rate }}</span><br>
                            </div>
                          </header>
                          <div class="Comment-content">{{ review.text }}</div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                  <header class="Section-header Section-header_product">
                    <h3 class="Section-title">Add Review</h3>
                  </header>
                  <div class="Tabs-addComment">
                    <form class="form"
                      action="{% url 'shop:add_review' product.pk %}"
                      method="post"
                      @submit.prevent="submitReview">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="review"></label>
                        <input class="form-textarea"
                          name="review"
                          id="review"
                          placeholder="Review"
                          v-model="review.text">
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="row-block">
                            <label for="name"></label>
                            <input class="form-input"
                              id="name"
                              name="name"
                              type="text"
                              placeholder="Name"
                              v-model="review.author"/>
                          </div>
                          <div class="row-block">
                            <label for="email"></label>
                            <input class="form-input"
                              id="email"
                              name="email"
                              type="text"
                              placeholder="Email"
                              v-model="review.email"/>
                          </div>
                          <div class="row-block">
                            <select name="rate" id="rate" v-model="review.rate">
                              <optgroup label="rate">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                              </optgroup>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <button class="btn btn_muted" type="submit">Submit Review</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% block mixins %}
  <script>var pk = {{ pk }}</script>
  <script src="{% static 'frontend/assets/js/product-detail.js' %}"></script>
{% endblock %}
