{% extends 'base/base.html' %}
{% load static %}

{% block content %}
  {% if error %}
    <p>Invalid login credentials. Please try again.</p>
  {% endif %}
  <form method="post" action="{% url 'users:login' %}">
    {% csrf_token %}
    <div>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password">
    </div>
    <div>
      <button type="submit">Login</button>
    </div>
  </form>
{#  <div class="register_main">#}
{#    <h3>Вход</h3>#}
{#    <form class="register" action="{% url 'users:login' %}" method="post">#}
{#      {% csrf_token %}#}
{#      {{ form.as_p }}#}
{#      <input class="my_button" type="submit" value="Войти"/>#}
{#      <a class="my_login" href="{% url 'users:register' %}">Зарегистрироваться</a>#}
{#    </form>#}
{#  </div>#}
{% endblock %}
