{% extends 'base/base.html' %}
{% load static %}

{% block content %}
  {% if error %}
    <p>Invalid login credentials. Please try again.</p>
  {% endif %}
  <form method="post" action="{% url 'users:login' %}">
    {% csrf_token %}
    <div>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password">
    </div>
    <div>
      <button type="submit">Войти</button>
      <a class="my_login" href="{% url 'users:register' %}">
        <button type="button">Зарегистрироваться</button>
      </a>
    </div>
  </form>
{% endblock %}
