:root {
    --main-bg-color: #1C92FF;
    --main-hover-bg-color: #1675CC;
    --light-gray: #AEAEB5;
    --dark-col: #353546;
    --link-hover-red: #FF0043;
    --click-heart: #FF5A5F;
    --hover-black: #1D1D1D;
    --blue-btn-color: #E2E9F2;
    --light-green: #26C485;
}