{% load static %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/Pe-icon-7-stroke.css' %}" />
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
<link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/ion.rangeSlider.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/style.css' %}">
