{% load static %}

<header class="main-header-area">
  <div class="header-middle py-30">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="header-middle-wrap position-relative">
            <div class="header-contact d-none d-lg-flex">
              <i class="pe-7s-call"></i>
              <a href="tel:+79967291556">+7(996)-729-15-56</a>
            </div>

            <a href="{% url 'index' %}" class="header-logo">
              <img src="{% static 'images/logo/dark.png' %}" alt="Header Logo">
            </a>

            <div class="header-right">
              <ul>
                <li>
                  <a href="#exampleModal" class="search-btn bt" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="pe-7s-search"></i>
                  </a>
                </li>
                <li class="dropdown d-none d-lg-block">
                  <button class="btn btn-link dropdown-toggle ht-btn p-0"
                    type="button"
                    id="settingButton"
                    data-bs-toggle="dropdown"
                    aria-label="setting"
                    aria-expanded="false">
                    <i class="pe-7s-users"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="settingButton">
                    {% if user.is_authenticated %}
                      <li><a class="dropdown-item" href="{% url 'user:account' user.id %}">My account</a></li>
                      <li><a class="dropdown-item" href="{% url 'shop:cart' %}">Cart</a></li>
                      <li><a class="dropdown-item" href="{% url 'user:logout' %}">Logout</a></li>
                    {% else %}
                      <li><a class="dropdown-item" href="{% url 'user:login' %}">Login</a></li>
                    {% endif %}
                  </ul>
                </li>
                {% if user.is_authenticated %}
                  <li class="d-none d-lg-block">
                    <a href="{% url 'user:wishlist' %}">
                      <i class="pe-7s-like"></i>
                    </a>
                  </li>
                  <li class="minicart-wrap me-3 me-lg-0">
                    <a href="#miniCart" class="minicart-btn toolbar-btn">
                      <i class="pe-7s-shopbag"></i>
                      <span class="quantity">{{ count }}</span>
                    </a>
                  </li>
                  <li class="mobile-menu_wrap d-block d-lg-none">
                    <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn pl-0">
                      <i class="pe-7s-menu"></i>
                    </a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom d-none d-lg-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="main-menu position-relative">
            <nav class="main-nav">
              <ul>
                <li class="drop-holder">
                  <a href="{% url 'index' %}">Home</a>
                </li>
                <li class="megamenu-holder">
                  <a href="{% url 'shop:index' %}">Shop</a>
                  <ul class="drop-menu megamenu">
                    <li>
                      <span class="title">Product Related</span>
                      <ul>
                        <li>
                          <a href="{% url 'shop:cart' %}">Shopping Cart</a>
                        </li>
                        <li>
                          <a href="{% url 'user:wishlist' %}">Wishlist</a>
                        </li>
                        <li>
                          <a href="{% url 'shop:compare' %}">Compare</a>
                        </li>
                        <li>
                          <a href="{% url 'user:checkout' %}">Checkout</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="drop-holder">
                  <a href="{% url 'pages:blog' %}">Blog</a>
                  <ul class="drop-menu">
                    <li>
                      <a href="{% url 'pages:blog-detail' %}">Blog Detail</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="{% url 'pages:about' %}">About Us</a>
                </li>
                <li class="drop-holder">
                  <a href="#">Pages</a>
                  <ul class="drop-menu">
                    <li>
                      <a href="{% url 'pages:faq' %}">FAQ</a>
                    </li>
                    <li>
                      <a href="{% url 'pages:404' %}">Error 404</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="{% url 'user:contact' %}">Contact Us</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-sticky py-4 py-lg-0">
    <div class="container">
      <div class="header-nav position-relative">
        <div class="row align-items-center">
          <div class="col-lg-3 col-6">

            <a href="{% url 'index' %}" class="header-logo">
              <img src="{% static 'images/logo/dark.png' %}" alt="Header Logo">
            </a>

          </div>
          <div class="col-lg-6 d-none d-lg-block">
            <div class="main-menu">
              <nav class="main-nav">
                <ul>
                  <li class="drop-holder">
                    <a href="{% url 'index' %}">Home</a>
                  </li>
                  <li class="megamenu-holder">
                    <a href="{% url 'shop:index' %}">Shop</a>
                    <ul class="drop-menu megamenu">
                      <li>
                        <span class="title">Product Related</span>
                        <ul>
                          <li>
                            <a href="{% url 'shop:cart' %}">Shopping Cart</a>
                          </li>
                          <li>
                            <a href="{% url 'user:wishlist' %}">Wishlist</a>
                          </li>
                          <li>
                            <a href="{% url 'shop:compare' %}">Compare</a>
                          </li>
                          <li>
                            <a href="{% url 'user:checkout' %}">Checkout</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="drop-holder">
                    <a href="{% url 'pages:blog' %}">Blog</a>
                    <ul class="drop-menu">
                      <li>
                        <a href="{% url 'pages:blog-detail' %}">Blog Detail</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="{% url 'pages:about' %}">About Us</a>
                  </li>
                  <li class="drop-holder">
                    <a href="#">Pages</a>
                    <ul class="drop-menu">
                      <li>
                        <a href="{% url 'pages:faq' %}">FAQ</a>
                      </li>
                      <li>
                        <a href="{% url 'pages:404' %}">Error 404</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="{% url 'user:contact' %}">Contact Us</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="header-right">
              <ul>
                <li>
                  <a href="#exampleModal" class="search-btn bt" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="pe-7s-search"></i>
                  </a>
                </li>
                <li class="dropdown d-none d-lg-block">
                  <button class="btn btn-link dropdown-toggle ht-btn p-0"
                    type="button"
                    id="stickysettingButton"
                    data-bs-toggle="dropdown"
                    aria-label="setting"
                    aria-expanded="false">
                    <i class="pe-7s-users"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="stickysettingButton">
                    {% if user.is_authenticated %}
                      <li><a class="dropdown-item" href="{% url 'user:account' user.id %}">My account</a></li>
                      <li><a class="dropdown-item" href="{% url 'user:logout' %}">Logout</a></li>
                    {% else %}
                      <li><a class="dropdown-item" href="{% url 'user:login' %}">Login</a></li>
                    {% endif %}
                  </ul>
                </li>
                {% if user.is_authenticated %}
                  <li class="d-none d-lg-block">
                    <a href="{% url 'user:wishlist' %}">
                      <i class="pe-7s-like"></i>
                    </a>
                  </li>
                  <li class="minicart-wrap me-3 me-lg-0">
                    <a href="#miniCart" class="minicart-btn toolbar-btn">
                      <i class="pe-7s-shopbag"></i>
                      <span class="quantity">{{ count }}</span>
                    </a>
                  </li>
                  <li class="mobile-menu_wrap d-block d-lg-none">
                    <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn pl-0">
                      <i class="pe-7s-menu"></i>
                    </a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-menu_wrapper" id="mobileMenu">
    <div class="offcanvas-body">
      <div class="inner-body">
        <div class="offcanvas-top">
          <a href="#" class="button-close"><i class="pe-7s-close"></i></a>
        </div>
        <div class="header-contact offcanvas-contact">
          <i class="pe-7s-call"></i>
          <a href="tel://+00-123-456-789">+7(996)-729-15-56</a>
        </div>
        <div class="offcanvas-user-info">
          <ul class="dropdown-wrap">
            <li class="dropdown dropdown-left">
              <button class="btn btn-link dropdown-toggle ht-btn"
                type="button"
                id="languageButtonTwo"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                English
              </button>
              <ul class="dropdown-menu" aria-labelledby="languageButtonTwo">
                <li><a class="dropdown-item" href="#">French</a></li>
                <li><a class="dropdown-item" href="#">Italian</a></li>
                <li><a class="dropdown-item" href="#">Spanish</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <button class="btn btn-link dropdown-toggle ht-btn usd-dropdown"
                type="button"
                id="currencyButtonTwo"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                USD
              </button>
              <ul class="dropdown-menu" aria-labelledby="currencyButtonTwo">
                <li><a class="dropdown-item" href="#">GBP</a></li>
                <li><a class="dropdown-item" href="#">ISO</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <button class="btn btn-link dropdown-toggle ht-btn p-0"
                type="button"
                id="settingButtonTwo"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="pe-7s-users"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="settingButtonTwo">
                {% if user.is_authenticated %}
                  <li><a class="dropdown-item" href="{% url 'user:account' user.id %}">My account</a></li>
                  <li><a class="dropdown-item" href="{% url 'user:logout' %}">Logout</a></li>
                {% else %}
                  <li><a class="dropdown-item" href="{% url 'user:login' %}">Login</a></li>
                {% endif %}
              </ul>
            </li>
            {% if user.is_authenticated %}
              <li>
                <a href="{% url 'user:wishlist' %}">
                  <i class="pe-7s-like"></i>
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
        <div class="offcanvas-menu_area">
          <nav class="offcanvas-navigation">
            <ul class="mobile-menu">
              <li class="menu-item-has-children">
                <a href="{% url 'index' %}">
                  <span class="mm-text">Home</span>
                </a>
              </li>
              <li class="menu-item-has-children">
                <a href="#">
                                      <span class="mm-text">Shop<i class="pe-7s-angle-down"></i>
                              </span>
                </a>
                <ul class="sub-menu">
                  <li class="menu-item-has-children">
                    <a href="#">
                                              <span class="mm-text">Shop Layout<i class="pe-7s-angle-down"></i>
                                      </span>
                    </a>
                    <ul class="sub-menu">
                      <li>
                        <a href="{% url 'shop:index' %}">
                          <span class="mm-text">Shop</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="#">
                                              <span class="mm-text">Product Style<i class="pe-7s-angle-down"></i>
                                      </span>
                    </a>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="#">
                                              <span class="title">Product Related
                                          <i class="pe-7s-angle-down"></i>
                                      </span>
                    </a>
                    <ul class="sub-menu">
                      {% if user.is_authenticated %}
                        <li>
                          <a href="{% url 'user:account' user.id %}">
                            <span class="mm-text">My Account</span>
                          </a>
                        </li>
                        <li>
                          <a href="{% url 'user:logout' %}">
                            <span class="mm-text">Logout</span>
                          </a>
                        </li>
                      {% else %}
                        <li>
                          <a href="{% url 'user:login' %}">
                            <span class="mm-text">Login</span>
                          </a>
                        </li>
                      {% endif %}
                      <li>
                        <a href="{% url 'shop:cart' %}">
                          <span class="mm-text">Shopping Cart</span>
                        </a>
                      </li>
                      <li>
                        <a href="{% url 'user:wishlist' %}">
                          <span class="mm-text">Wishlist</span>
                        </a>
                      </li>
                      <li>
                        <a href="{% url 'shop:compare' %}">
                          <span class="mm-text">Compare</span>
                        </a>
                      </li>
                      <li>
                        <a href="{% url 'user:checkout' %}">
                          <span class="mm-text">Checkout</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a href="#">
                                      <span class="mm-text">Blog
                                  <i class="pe-7s-angle-down"></i>
                              </span>
                </a>
                <ul class="sub-menu">
                  <li class="menu-item-has-children">
                    <a href="#">
                                              <span class="mm-text">Blog Holder
                                          <i class="pe-7s-angle-down"></i>
                                      </span>
                    </a>
                    <ul class="sub-menu">
                      <li>
                        <a href="{% url 'pages:blog' %}">
                          <span class="mm-text">Blog Default</span>
                        </a>
                      </li>
                      <li>
                        <a href="{% url 'pages:blog-detail' %}">Blog Detail</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <a href="{% url 'pages:about' %}">
                  <span class="mm-text">About Us</span>
                </a>
              </li>
              <li class="menu-item-has-children">
                <a href="#">
                                      <span class="mm-text">Pages
                                  <i class="pe-7s-angle-down"></i>
                              </span>
                </a>
                <ul class="sub-menu">
                  <li>
                    <a href="{% url 'pages:faq' %}">
                      <span class="mm-text">Frequently Questions</span>
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'pages:404' %}">
                      <span class="mm-text">Error 404</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="{% url 'user:contact' %}">
                  <span class="mm-text">Contact</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content modal-bg-dark">
        <div class="modal-header">
          <button type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            data-tippy="Close"
            data-tippy-inertia="true"
            data-tippy-animation="shift-away"
            data-tippy-delay="50"
            data-tippy-arrow="true"
            data-tippy-theme="sharpborder">
          </button>
        </div>
        <div class="modal-body">
          <div class="modal-search">
            <span class="searchbox-info">Start typing and press Enter to search or ESC to close</span>
            <form action="#" class="hm-searchbox">
              <input type="text"
                name="Search..."
                value="Search..."
                onblur="if(this.value==''){this.value='Search...'}"
                onfocus="if(this.value=='Search...'){this.value=''}"
                autocomplete="off">
              <button class="search-btn" type="submit" aria-label="searchbtn">
                <i class="pe-7s-search"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="offcanvas-minicart_wrapper" id="miniCart">
    <div class="offcanvas-body">
      <div class="minicart-content">
        <div class="minicart-heading">
          <h4 class="mb-0">Shopping Cart</h4>
          <a href="#" class="button-close">
            <i class="pe-7s-close" data-tippy="Close" data-tippy-inertia="true"
            data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
            data-tippy-theme="sharpborder">
            </i>
          </a>
        </div>
        <ul class="minicart-list">
          {% for basket in baskets %}
            <li class="minicart-product">
            <a class="product-item_remove" href="{% url 'shop:basket_remove' basket.id %}">
              <i class="pe-7s-close" data-tippy="Remove"
              data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50"
              data-tippy-arrow="true" data-tippy-theme="sharpborder">
              </i>
            </a>
            <a href="{% url 'shop:product' basket.product.name %}" class="product-item_img">
              <img class="img-full" src="{{ basket.product.image.url }}" alt="Product Image">
            </a>
            <div class="product-item_content">
              <a class="product-item_title" href="{% url 'shop:product' basket.product.name %}">
                {{ basket.product.name }}
              </a>
              <span class="product-item_quantity">
                {{ basket.quantity }} x ${{ basket.product.price }}
              </span>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="minicart-item_total">
        <span>Subtotal</span>
        <span class="ammount">${{ baskets.total_sum }}</span>
      </div>
      <div class="group-btn_wrap d-grid gap-2">
        <a href="{% url 'shop:cart' %}" class="btn btn-dark">View Cart</a>
        <a href="{% url 'user:checkout' %}" class="btn btn-dark">Checkout</a>
      </div>
    </div>
  </div>
  <div class="global-overlay"></div>
</header>
