@import "mixins";
@import "../css/props.css";

* {
  box-sizing: border-box;
  transition: .3s;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  position: relative;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.7);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
  }
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

p {
  margin: 0;
}

.loader,
.modal {
  transition: opacity 1s ease-out;
  width: 100%;
  height: 100%;
  position: fixed;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #34343496;

    svg {
      width: 40%;
    }
  }
}

.loader {
  opacity: 1;
  z-index: 9999;
}

.modal {
  opacity: 0;
  z-index: -1;
}

.modal_visible {
  opacity: 1 !important;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
}

.scroll_top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  background: var(--dark-col);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  z-index: 250;
  opacity: 0;

  img {
    display: block;
    width: 64px;
    height: 64px;
    transform: rotate(-90deg);

    @include respondedBy(1440px) {
      width: 48px;
      height: 48px;
    }

    @include respondedBy(1024px) {
      width: 36px;
      height: 36px;
    }

    @include respondedBy(767px) {
      width: 28px;
      height: 28px;
    }
  }

  @include respondedBy(1440px) {
    width: 80px;
    height: 80px;
  }

  @include respondedBy(1024px) {
    width: 60px;
    height: 60px;
  }

  @include respondedBy(767px) {
    width: 45px;
    height: 45px;
    bottom: 1.25rem;
    right: 1.25rem;
  }
}

section {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1600px;

  @include respondedBy(1770px) {
    max-width: 1400px;
  }

  @include respondedBy(1440px) {
    max-width: 90%;
  }

  @include respondedBy(600px) {
    max-width: 93%;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 100%;
  padding-bottom: 5rem;

  @include respondedBy(1440px) {
    gap: 4rem;
    padding-bottom: 4rem;
  }

  @include respondedBy(980px) {
    gap: 3rem;
    padding-bottom: 3rem;
  }

  @include respondedBy(480px) {
    gap: 2rem;
  }
}

.subtitle {
  font-size: 5rem;
  line-height: 6rem;
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  //white-space: nowrap;

  @include respondedBy(1280px) {
    font-size: 4rem;
    line-height: 5rem;
  }

  @include respondedBy(767px) {
    font-size: 3rem;
    line-height: 3.75rem;
  }

  @include respondedBy(600px) {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }

  @include respondedBy(480px) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.form_text_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.y-text {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 0;
  height: 100%;

  &__item {
    text-transform: uppercase;
    color: white;
    width: 70px;
    line-height: normal;

    @include respondedBy(980px) {
      font-size: 3.5rem;
      width: 40px;
    }

    @include respondedBy(600px) {
      font-size: 2.75rem;
    }

    @include respondedBy(480px) {
      font-size: 2.25rem;
      width: 32px;
    }
  }
}

.y-text__form {
  flex-direction: column;

  &-item {
    transform: rotate(90deg);
    color: var(--dark-col);

    @include respondedBy(980px) {
      font-size: 3.5rem;
    }

    @include respondedBy(600px) {
      font-size: 2.75rem;
    }

    @include respondedBy(480px) {
      font-size: 2.25rem;
    }
  }
}

.main_signature {
  font-size: 2.5rem;
  line-height: 3.25rem;
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;

  @include respondedBy(1280px) {
    font-size: 2rem;
    line-height: 2.75rem;
  }

  @include respondedBy(767px) {
    font-size: 1.575rem;
    line-height: 2rem;
  }

  @include respondedBy(600px) {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  @include respondedBy(480px) {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}

.head_section {
  position: relative;

  &__bg {
    width: 100%;
    height: 100%;
  }

  &__content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 5rem 0 8rem;

    @include respondedBy(980px) {
      padding: 3rem 0 5rem;
    }

    @include respondedBy(600px) {
      padding: 2rem 0 3rem;
    }
  }

  &__title {
    font-size: 10rem;
    line-height: 12rem;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    white-space: nowrap;
    color: white;

    @include respondedBy(1280px) {
      font-size: 7rem;
      line-height: 8.5rem;
    }

    @include respondedBy(767px) {
      font-size: 5rem;
      line-height: 6rem;
    }

    @include respondedBy(600px) {
      font-size: 3.5rem;
      line-height: 4.25rem;
    }

    @include respondedBy(480px) {
      font-size: 3rem;
      line-height: 3.5rem;
    }
  }

  &__subtitle {
    font-size: 5.5rem;
    line-height: 7rem;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    white-space: nowrap;
    color: white;

    @include respondedBy(1280px) {
      font-size: 4rem;
      line-height: 5rem;
    }

    @include respondedBy(767px) {
      font-size: 3rem;
      line-height: 3.75rem;
    }

    @include respondedBy(600px) {
      font-size: 1.75rem;
      line-height: 2.5rem;
    }

    @include respondedBy(480px) {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }

  .basement_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;

    &__item {
      font-size: 2.5rem;
      line-height: 3.25rem;
      font-family: "Poiret One", sans-serif;
      font-weight: 400;
      font-style: normal;
      margin: 0;
      white-space: nowrap;
      color: white;

      @include respondedBy(1280px) {
        font-size: 1.75rem;
        line-height: 2.5rem;
      }

      @include respondedBy(767px) {
        font-size: 1.25rem;
        line-height: 1.5rem;
      }

      @include respondedBy(600px) {
        font-size: 1rem;
        line-height: 1.25rem;
      }

      @include respondedBy(480px) {
        font-size: .875rem;
        line-height: 1.125rem;
      }
    }
  }
}

.hello_section,
.location_section,
.schedule_section {
  background: rgba(0, 0, 0, 0.4);

  &__image {
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
  }

  .hello_bg {
    background-image: url("../../images/background/flower.jpeg");
  }

  .location_bg {
    background-image: url("../../images/background/location-bg.jpg");
  }

  .schedule_bg {
    background-image: url("../../images/background/schedule.jpg");
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
    padding: 5rem 0;

    @include respondedBy(767px) {
      gap: 1.5rem;
      padding: 3rem 0;
    }

    @include respondedBy(480px) {
      gap: 1rem;
    }
  }

  &__center {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__text {
    font-size: 7rem;
    line-height: 8.5rem;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    white-space: nowrap;
    color: white;

    @include respondedBy(980px) {
      font-size: 5rem;
      line-height: 6rem;
    }

    @include respondedBy(767px) {
      font-size: 3.5rem;
      line-height: 4.25rem;
    }

    @include respondedBy(480px) {
      font-size: 2.5rem;
      line-height: 3.25rem;
    }
  }
}

.location_section {
  &__wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.5rem;
    max-width: 80%;

    @include respondedBy(600px) {
      gap: 1rem;
    }

    @include respondedBy(480px) {
      gap: .75rem;
    }
  }

  .y-text__location {
    transform: rotate(-90deg);
  }

  .location_gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 100%;

    @include respondedBy(980px) {
      gap: 1.5rem;
    }

    @include respondedBy(600px) {
      gap: 1rem;
    }

    &__item {
      width: 100%;

      img {
        border-radius: 1.25rem;
        width: 100%;

        @include respondedBy(1280px) {
          border-radius: 1rem;
        }

        @include respondedBy(600px) {
          border-radius: .875rem;
        }
      }
    }
  }

  .location_text {
    font-size: 4rem;
    line-height: 5.5rem;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin: 0;
    text-align: end;

    @include respondedBy(1440px) {
      font-size: 3rem;
      line-height: 4rem;
    }

    @include respondedBy(1280px) {
      font-size: 2.5rem;
      line-height: 3rem;
    }

    @include respondedBy(767px) {
      font-size: 2rem;
      line-height: 2.5rem;
    }

    @include respondedBy(600px) {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    @include respondedBy(480px) {
      font-size: 1.25rem;
      line-height: 1.5rem;
    }
  }

  .location_name {
    text-transform: uppercase;
  }
}

.timer_section,
.dress_code_section {
  display: flex;
  justify-content: center;
  width: 100%;

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  .dress_code_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
    
    @include respondedBy(767px) {
      display: none;
    }

    .gender_title {
      font-size: 2.75rem;
      line-height: 3.5rem;
      font-family: "Poiret One", sans-serif;
      font-weight: 400;
      font-style: normal;
      color: var(--dark-col);
      text-align: center;

      @include respondedBy(1280px) {
        font-size: 2.25rem;
        line-height: 3rem;
      }

      @include respondedBy(767px) {
        display: none;
      }
    }

    .asking {
      font-size: 1.75rem;
      line-height: 2.5rem;
      font-family: "Poiret One", sans-serif;
      font-weight: 400;
      font-style: normal;
      color: var(--dark-col);
      text-align: center;

      @include respondedBy(1280px) {
        font-size: 1.25rem;
        line-height: 1.575rem;
      }

      @include respondedBy(767px) {
        font-size: 1rem;
        line-height: 1.25rem;
      }

      @include respondedBy(480px) {
        font-size: .875rem;
        line-height: 1rem;
      }
    }
  }

  &__tabs {
    display: none;
    align-items: center;
    gap: .75rem;

    @include respondedBy(767px) {
      display: flex;
    }

    @include respondedBy(480px) {
      width: 100%;
    }

    .gender_tab {
      font-size: 1rem;
      line-height: 1.25rem;
      font-family: "Poiret One", sans-serif;
      font-weight: 400;
      font-style: normal;
      color: var(--dark-col);
      border-radius: .5rem;
      padding: .5rem 1.125rem;
      border: 1px solid var(--dark-col);
      background: white;

      @include respondedBy(480px) {
        flex-grow: 1;
      }
    }

    .gender_active {
      color: white;
      background: var(--dark-col);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 100%;

    @include respondedBy(1280px) {
      gap: 2.5rem;
    }

    @include respondedBy(767px) {
      gap: 1.75rem;
    }

    @include respondedBy(480px) {
      gap: 1rem;
    }
  }

  &__title {
    font-size: 6rem;
    line-height: 7.5rem;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    text-align: center;
    width: 100%;

    @include respondedBy(1440px) {
      font-size: 5rem;
      line-height: 6.5rem;
    }

    @include respondedBy(1280px) {
      font-size: 4.5rem;
      line-height: 5.5rem;
    }

    @include respondedBy(767px) {
      font-size: 3rem;
      line-height: 3.75rem;
    }

    @include respondedBy(767px) {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }

  .timer_row,
  .dress_code_row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;

    .timer_block {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__number,
      &__text {
        font-family: "Poiret One", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
      }

      &__number {
        font-size: 8rem;
        line-height: 9.5rem;
        width: 100%;

        @include respondedBy(1440px) {
          font-size: 6.5rem;
          line-height: 7.5rem;
        }

        @include respondedBy(980px) {
          font-size: 5rem;
          line-height: 6rem;
        }

        @include respondedBy(767px) {
          font-size: 4rem;
          line-height: 5rem;
        }

        @include respondedBy(480px) {
          font-size: 2.75rem;
          line-height: 3.5rem;
        }
      }

      &__text {
        font-size: 2.5rem;
        line-height: 3.5rem;

        @include respondedBy(1440px) {
          font-size: 2.25rem;
          line-height: 3rem;
        }

        @include respondedBy(980px) {
          font-size: 1.75rem;
          line-height: 2.5rem;
        }

        @include respondedBy(767px) {
          font-size: 1.25rem;
          line-height: 1.5rem;
        }

        @include respondedBy(480px) {
          font-size: .875rem;
          line-height: 1rem;
        }
      }

      .timer_line {
        border-right: 2px solid var(--dark-col);

        @include respondedBy(480px) {
          border-width: 1px;
        }
      }
    }

    .dress_code_circle {
      width: 12rem;
      height: 12rem;
      border-radius: 50%;

      @include respondedBy(1440px) {
        width: 9rem;
        height: 9rem;
      }

      @include respondedBy(980px) {
        width: 7rem;
        height: 7rem;
      }

      @include respondedBy(767px) {
        width: 6rem;
        height: 6rem;
      }

      @include respondedBy(480px) {
        width: 4.25rem;
        height: 4.25rem;
      }
    }
  }

  .dress_code_row {
    justify-items: center;
  }

  .dress_code_active {
    display: flex;
  }
}

.schedule_section {
  &__wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 85%;

    @include respondedBy(1280px) {
      max-width: 100%;
      gap: 1.5rem;
    }

    @include respondedBy(767px) {
      gap: 1rem;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5rem;
    width: 100%;
    max-width: fit-content;
  }

  &__paragraph {
    font-size: 3.75rem;
    line-height: 4.25rem;
    color: white;
    text-align: center;

    @include respondedBy(1440px) {
      font-size: 3rem;
      line-height: 3.5rem;
    }

    @include respondedBy(1280px) {
      font-size: 2.5rem;
      line-height: 3rem;
    }

    @include respondedBy(980px) {
      font-size: 1.75rem;
      line-height: 2.125rem;
    }

    @include respondedBy(767px) {
      font-size: 1.375rem;
      line-height: 1.675rem;
    }

    @include respondedBy(600px) {
      font-size: 1.25rem;
      line-height: 1.5rem;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    width: 100%;

    @include respondedBy(600px) {
      gap: 1rem;
    }
  }

  &__time,
  &__title,
  &__subtitle,
  &__paragraph {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  &__time,
  &__title {
    color: #FCEBD2;
    white-space: nowrap;
    text-transform: uppercase;
  }

  &__time {
    font-size: 7rem;
    line-height: 8.25rem;
    min-width: 320px;

    @include respondedBy(1440px) {
      font-size: 6rem;
      line-height: 7rem;
      min-width: 273px;
    }

    @include respondedBy(1280px) {
      font-size: 5.25rem;
      line-height: 6rem;
      min-width: 240px;
    }

    @include respondedBy(980px) {
      font-size: 4rem;
      line-height: 4.75rem;
      min-width: 182px;
    }

    @include respondedBy(767px) {
      font-size: 3.25rem;
      line-height: 3.75rem;
      min-width: 148px;
    }

    @include respondedBy(600px) {
      font-size: 2.75rem;
      line-height: 3.25rem;
      min-width: 125px;
    }

    @include respondedBy(480px) {
      font-size: 2.5rem;
      line-height: 3rem;
      min-width: 114px;
    }
  }

  &__title {
    font-size: 5rem;
    line-height: 6.25rem;

    @include respondedBy(1440px) {
      font-size: 4rem;
      line-height: 5rem;
    }

    @include respondedBy(1280px) {
      font-size: 3.5rem;
      line-height: 4.25rem;
    }

    @include respondedBy(980px) {
      font-size: 2.5rem;
      line-height: 3rem;
    }

    @include respondedBy(767px) {
      font-size: 2rem;
      line-height: 2.5rem;
    }

    @include respondedBy(600px) {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }

  &__subtitle {
    font-size: 3.25rem;
    line-height: 4rem;
    color: white;
    text-transform: lowercase;

    @include respondedBy(1440px) {
      font-size: 2.5rem;
      line-height: 3rem;
    }

    @include respondedBy(1280px) {
      font-size: 2.25rem;
      line-height: 2.75rem;
    }

    @include respondedBy(980px) {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    @include respondedBy(767px) {
      font-size: 1.25rem;
      line-height: 1.5rem;
    }

    @include respondedBy(600px) {
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    @include respondedBy(480px) {
      gap: .25rem;
    }
  }

  hr {
    width: 1px;
    height: 100%;
    background: white;
    margin: 0;
    min-height: 200px;

    @include respondedBy(1440px) {
      min-height: 180px;
    }

    @include respondedBy(1280px) {
      min-height: 160px;
    }

    @include respondedBy(980px) {
      min-height: 120px;
    }

    @include respondedBy(767px) {
      min-height: 100px;
    }

    @include respondedBy(600px) {
      min-height: 80px;
    }

    @include respondedBy(480px) {
      min-height: 60px;
    }
  }
}

.map {
  display: flex;
  justify-content: center;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    width: 100%;

    @include respondedBy(1280px) {
      display: flex;
      flex-direction: column;
      gap: 1.75rem;
    }
  }

  &__block {
    display: flex;
    width: 100%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    gap: 2rem;

    @include respondedBy(1280px) {
      gap: 1.5rem;
    }

    @include respondedBy(767px) {
      gap: 1.25rem;
    }

    @include respondedBy(600px) {
      gap: 1rem;
    }
  }

  &__container {
    width: 100%;
    position: relative;
  }

  .map_btns_wrap {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    right: 2rem;
    top: 35%;

    @include respondedBy(980px) {
      right: 1.5rem;
      gap: 1.5rem;
    }

    @include respondedBy(480px) {
      right: .75rem;
      gap: 1rem;
    }
  }

  .custom_btn_map {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 4rem;
    z-index: 100;
    height: 4rem;
    background: rgba(0, 0, 0, 0.4);

    &:hover {
      background: rgba(0, 0, 0, 0.7);
    }

    @include respondedBy(980px) {
      width: 3rem;
      height: 3rem;
    }

    @include respondedBy(480px) {
      width: 2rem;
      height: 2rem;
    }

    img {
      display: block;
      width: 2.5rem;

      @include respondedBy(980px) {
        width: 1.75rem;
      }

      @include respondedBy(480px) {
        width: 1.25rem;
      }
    }
  }

  .init_map {
    width: 100%;
    height: 500px;
    transition-property: none;

    @include respondedBy(600px) {
      height: 380px;
    }

    ymaps {
      border-radius: 12px;
      width: 100%;
      transition-property: none;
    }

    .ymaps-2-1-79-ground-pane {
      filter: grayscale(1);
    }

    .ymaps-2-1-79-copyright_logo_no {
      display: none;
    }
  }
}

.section_gallery {
  width: 100%;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }

  &__item {
    display: block;
    width: 100%;
    position: relative;
    cursor: pointer;
  }

  &__gray {
    width: 100%;
    height: 100%;
    background: var(--dark-gray);
    position: relative;
  }

  &__title,
  &__signature {
    position: absolute;
    left: 0;
    right: 0;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    color: white;
    margin: 0;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__title {
    font-size: 4rem;
    line-height: 5rem;
    top: 2rem;

    @include respondedBy(1440px) {
      font-size: 3rem;
      line-height: 4rem;
    }

    @include respondedBy(1024px) {
      font-size: 2.5rem;
      line-height: 3.125rem;
    }

    @include respondedBy(767px) {
      font-size: 1.75rem;
      line-height: 2.25rem;
      top: 1.25rem;
    }

    @include respondedBy(600px) {
      font-size: 1.375rem;
      line-height: 1.5rem;
    }

    @include respondedBy(480px) {
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }

  &__signature {
    font-size: 3rem;
    line-height: 4rem;
    bottom: 2rem;

    @include respondedBy(1440px) {
      font-size: 2.25rem;
      line-height: 3rem;
    }

    @include respondedBy(1024px) {
      font-size: 1.75rem;
      line-height: 2.25rem;
    }

    @include respondedBy(767px) {
      font-size: 1.25rem;
      line-height: 1.5rem;
      bottom: 1.25rem;
    }

    @include respondedBy(600px) {
      font-size: 1rem;
      line-height: 1.25rem;
    }

    @include respondedBy(480px) {
      font-size: .75rem;
      line-height: 1rem;
    }
  }
}

.form_visitors {
  display: flex;
  justify-content: center;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    @include respondedBy(1440px) {
      gap: 0;
    }

    @include respondedBy(980px) {
      display: flex;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    position: relative;
    width: 100%;

    &:first-child {
      @include respondedBy(980px) {
        display: none;
      }
    }

    &:last-child {
      @include respondedBy(480px) {
        gap: 1rem;
      }
    }

    form {
      width: 85%;

      @include respondedBy(1770px) {
        width: 80%;
      }

      @include respondedBy(767px) {
        width: 90%;
      }

      @include respondedBy(480px) {
        width: 100%;
      }

      div {
        max-height: 520px;
      }
    }

    .radio_container {
      width: 100%;
      border-radius: .75rem;
      border: 1px solid #0000001f;

      &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.25rem;
        width: 100%;
        padding: 1.25rem;
      }
    }

    .form_input_container {
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 100%;
    }

    #indicate_of_guests,
    #custom_alcohol_prefer_block {
      max-height: 0;
      overflow: hidden;
    }

    .active_indicate_of_guests {
      max-height: 4rem !important;
      overflow: visible !important;
    }

    .form_input,
    .form_radio {
      width: 100%;
      font-family: "Poiret One", sans-serif;
      font-weight: 400;
      font-style: normal;
      position: relative;

      label {
        font-size: 1.75rem;
        line-height: 2.5rem;
        color: var(--dark-col);
        position: absolute;

        @include respondedBy(1280px) {
          font-size: 1.5rem;
          line-height: 2rem;
        }

        @include respondedBy(600px) {
          font-size: 1.25rem;
          line-height: 1.575rem;
        }

        @include respondedBy(480px) {
          font-size: 1rem;
          line-height: 1.25rem;
        }
      }

      .number_label {
        font-size: 1.25rem;
        line-height: 1.5rem;

        @include respondedBy(600px) {
          font-size: 1rem;
          line-height: 1.25rem;
        }

        @include respondedBy(480px) {
          font-size: .875rem;
          line-height: 1rem;
        }
      }

      input[type="text"],
      input[type="number"] {
        position: relative;
        z-index: 100;
        color: var(--dark-col);
        background: none;
        width: 100%;
        border-bottom: 2px solid var(--dark-col);
        padding: 0 0 8px;

        @include respondedBy(600px) {
          padding: 0 0 6px;
        }
      }

      input[type="text"]:not(.small_input) {
        font-size: 1.75rem;
        line-height: 2.5rem;

        @include respondedBy(1280px) {
          font-size: 1.5rem;
          line-height: 2rem;
        }

        @include respondedBy(600px) {
          font-size: 1.25rem;
          line-height: 1.575rem;
        }

        @include respondedBy(480px) {
          font-size: 1rem;
          line-height: 1.25rem;
        }
      }

      input[type="number"],
      .small_input {
        font-size: 1.25rem;
        line-height: 1.5rem;

        @include respondedBy(600px) {
          font-size: 1rem;
          line-height: 1.25rem;
        }

        @include respondedBy(480px) {
          font-size: .875rem;
          line-height: 1rem;
        }
      }
    }

    .form_radio__wrapper {
      display: flex;
      align-items: center;
      gap: 1rem;

      label {
        font-size: 1.25rem;
        line-height: 1.75rem;
        position: relative;

        @include respondedBy(600px) {
          font-size: 1rem;
          line-height: 1.25rem;
        }
      }

      input[type="radio"] {
        margin: 0;
        min-width: 1.25rem;
        min-height: 1.25rem;
        max-width: 1.25rem;
        max-height: 1.25rem;
        appearance: none;
        border: 1px solid var(--dark-col);
        border-radius: 50%;

        @include respondedBy(600px) {
          min-width: 1rem;
          min-height: 1rem;
          max-width: 1rem;
          max-height: 1rem;
        }

        @include respondedBy(600px) {
          min-width: .875rem;
          min-height: .875rem;
          max-width: .875rem;
          max-height: .875rem;
        }
      }

      input[type="radio"]:checked {
        border: 4px solid var(--dark-col);

        @include respondedBy(480px) {
          border-width: 3px;
        }
      }
    }

    .radio_title {
      font-size: 1.75rem;
      line-height: 2.5rem;
      font-family: "Poiret One", sans-serif;
      font-weight: 400;
      font-style: normal;
      color: var(--dark-col);

      @include respondedBy(600px) {
        font-size: 1.25rem;
        line-height: 1.575rem;
      }
    }

    .active_label {
      top: -30px;
      font-size: 1.25rem !important;
      line-height: 1.75rem !important;

      @include respondedBy(600px) {
        top: -20px;
        font-size: .75rem !important;
        line-height: 1rem !important;
      }

      @include respondedBy(480px) {
        top: -15px;
        font-size: .575rem !important;
        line-height: .875rem !important;
      }
    }

    .active_number_label {
      @include respondedTo(600px) {
        font-size: 1rem !important;
        line-height: 1.25rem !important;
        top: -20px !important;
      }
    }

    .music_container {
      display: flex;
      align-items: flex-end;
      flex-wrap: nowrap;
      gap: 1.5rem;
      width: 100%;

      @include respondedBy(1280px) {
        gap: 1.25rem;
      }

      @include respondedBy(980px) {
        gap: 1rem;
      }

      @include respondedBy(767px) {
        gap: .75rem;
      }

      .music_list {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        width: 100%;

        @include respondedBy(767px) {
          gap: 1.75rem;
        }

        @include respondedBy(480px) {
          gap: 1.25rem;
        }
      }

      .add_music,
      .remove_music {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: .5rem;
        width: 32px;
        height: 32px;

        @include respondedBy(980px) {
          width: 24px;
          height: 24px;
        }
      }

      .remove_music {
        background: white;
        border: 1px solid rgba(0, 0, 0, 0.1215686275);

        &:hover {
          background: #f1f1f1;
        }

        img {
          width: 18px;
          height: 18px;

          @include respondedBy(980px) {
            width: 13px;
            height: 13px;
          }
        }
      }

      .add_music {
        background: var(--dark-col);

        &:hover {
          background: rgba(26, 37, 40, 0.7);
        }

        img {
          width: 24px;
          height: 24px;

          @include respondedBy(980px) {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
  }

  &__image {
    width: 100%;
    border-radius: 1.25rem;

    @include respondedBy(1440px) {
      position: relative;
      left: -12%;
      border-radius: 0 1.25rem 1.25rem 0;
    }
  }

  &__submit {
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    background: var(--dark-col);
    border-radius: .75rem;
    text-align: center;
    white-space: nowrap;
    padding: 1rem 2rem;

    &:hover {
      background: #353535;
    }

    @include respondedBy(600px) {
      font-size: 1.25rem;
      line-height: 1.575rem;
    }

    @include respondedBy(480px) {
      width: 100%;
      padding: .875rem 1.5rem;
    }
  }
}

.timer_end {
  @include respondedBy(480px) {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

.toggle-pill-color {
  display: flex;
  align-items: center;
  gap: 12px;

  & input[type="checkbox"] {
    display: none;
  }

  & input[type="checkbox"] + label {
    display: block;
    position: relative;
    width: 3em;
    height: 1.6em;
    border-radius: 1em;
    background: rgba(26, 37, 40, 0.35);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
  }

  & input[type="checkbox"] + label:before {
    content: "";
    display: block;
    width: 1.2em;
    height: 1.2em;
    border-radius: 1em;
    background: white;
    position: absolute;
    left: 0.2em;
    top: 0.2em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  & input[type="checkbox"]:checked + label {
    background: var(--dark-col);
  }

  & input[type="checkbox"]:checked + label:before {
    left: 1.6em;
    background: white;
  }

  .checkbox_signature {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--dark-col);

    @include respondedBy(600px) {
      font-size: 1.25rem;
      line-height: 1.575rem;
    }

    @include respondedBy(480px) {
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }
}

#allergyText {
  max-height: 0;
  overflow: hidden;
}

.my {
  margin: 2.5rem 0;

  @include respondedBy(767px) {
    margin: 1.75rem 0;
  }

  @include respondedBy(480px) {
    margin: 1.25rem 0;
  }
}

.circle_checkbox {
  opacity: 0;
  visibility: hidden;
  position: absolute;

  &:checked {

    ~ .circle_checkbox_span {
      border-color: #1A2528;
      box-shadow: 0px 0px 0px 3px #1A2528 inset;

      &::after {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

.circle_checkbox_span {
  min-width: 1.25rem;
  min-height: 1.25rem;
  max-width: 1.25rem;
  max-height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 100px;
  background-color: #FFF;
  border: 1px solid #1A2528;
  box-shadow: 0px 0px 0px 0px #1A2528 inset;
  transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);

  @include respondedBy(600px) {
    min-width: 1rem;
    min-height: 1rem;
    max-width: 1rem;
    max-height: 1rem;
  }

  @include respondedBy(600px) {
    min-width: .875rem;
    min-height: .875rem;
    max-width: .875rem;
    max-height: .875rem;
  }

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 4;
    position: absolute;
    transform: scale(0);
    background-size: 50%;
    background-image: url('https://s6.picofile.com/d/8392306668/bacc888c-bed7-41a9-bf24-f6ff0718f471/checkmark.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition-delay: 0.2s !important;
    transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
  }
}

.success_register {
  background-color: white;
  border-radius: 1rem;
  width: 40%;

  @include respondedBy(1490px) {
    width: 55%;
  }

  @include respondedBy(1024px) {
    width: 70%;
  }

  @include respondedBy(767px) {
    width: 82%;
  }

  @include respondedBy(480px) {
    width: 93%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    width: 100%;
    padding: 1.5rem;

    @include respondedBy(1280px) {
      gap: 1rem;
      padding: 1rem;
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  &__close {
    display: flex;
    background: none;
    padding: 0;
    border: none;

    svg {
      width: 2.25rem;
      height: 2.25rem;

      @include respondedBy(1280px) {
        width: 1.75rem;
        height: 1.75rem;
      }

      @include respondedBy(600px) {
        width: 1.5rem;
        height: 1.5rem;
      }

      @include respondedBy(480px) {
        width: 1.25rem;
        height: 1.25rem;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__title {
    font-size: 2rem;
    line-height: 2.5rem;
    font-family: "Poiret One", sans-serif;
    color: var(--dark-col);
    margin: 0;

    @include respondedBy(1280px) {
      font-size: 1.5rem;
      line-height: 1.75rem;
    }

    @include respondedBy(600px) {
      font-size: 1.25rem;
      line-height: 1.5rem;
    }

    @include respondedBy(480px) {
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }

  &__text {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-family: "Poiret One", sans-serif;
    color: var(--dark-col);
    margin: 0;

    @include respondedBy(1280px) {
      font-size: 1.125rem;
      line-height: 1.375rem;
    }

    @include respondedBy(600px) {
      font-size: 1rem;
      line-height: 1.25rem;
    }

    @include respondedBy(480px) {
      font-size: .75rem;
      line-height: 1rem;
    }
  }
}