@media (max-width: 980px) {
    .container {
        max-width: 680px;
    }

    .main-window {
        width: auto;
    }
}

@media (max-width: 480px) {
    .auth_form input {
        padding: 14px 20px;
    }

    .analogue__btn {
        padding: 12px 20px;
    }

    .checkboxes p {
        font-size: 12px;
    }

    .label__text {
        font-size: 12px;
    }

    .checkboxes {
        padding: 20px 10px;
    }

    .password__checker {
        width: 10px;
        height: 10px;
    }
}

@media (max-width: 320px) {
    .main-window__wrapper {
        padding: 20px;
    }
}