@media (max-width: 420px) {
    header.header-style {
        padding-top: 10px;
        justify-content: left;
    }

    .head-left {
        margin-left: 55px;
    }

    .head-left span {
        display: none;
    }

    .head-right {
        display: none;
    }

    .step-container {
        margin-right: 30px;
    }

    .button-js {
        display: flex;
        align-items: center;
        margin-top: 11px;
        margin-left: 100px;
    }

    .js-nav.open {
        display: flex;
        font-family: 'Segoe UI', sans-serif;
        font-style: normal;
        line-height: 27px;
        position: absolute;
        flex-direction: column;
        width: 270px;
        height: 100%;
        background: #FFFFFF;
        box-shadow: 0 24px 60px -15px rgba(176, 176, 176, 0.25);
        right: 0;
    }

    .nav-title {
        font-weight: 600;
        font-size: 20px;
        display: flex;
        text-align: right;
        color: #000000;
        order: 0;
        flex-grow: 0;
        margin-top: 60px;
        margin-left: 120px;
    }

    .nav-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 0;
        text-align: right;
        gap: 20px;
        width: 212px;
        height: 148px;
        left: 9px;
        top: 71px;
        font-weight: 400;
        font-size: 16px;
    }

    .burger {
        display: flex;
        margin-left: 90px;
        z-index: 99;
    }

    .help {
        display: none;
    }

    .mt-113 {
        margin-top: 40px;
    }

    .title {
        display: none;
    }

    .add-text {
        display: none;
    }

    .main-content {
        margin-left: 15px;
        width: 380px;
    }

    .step img{
        width: 40px;
        height: 40px;
        padding-right: 10px;
    }

    .step {
        font-weight: 300;
        font-size: 26px;
        white-space: nowrap;
    }

    .step2 {
        max-width: 365px;
        margin-top: 140px;
    }

    .step3 {
        margin-top: 15px;
    }

    .key-input {
        width: 300px;
        height: 150px;
        margin-left: 10px;
        border-radius: 0;
    }

    .key-give-step2 {
        display: inline-block;
        margin-left: -20px;
        max-width: 365px;
    }

    .key-give-step2 button {
        margin-left: 70px;
    }

    .block img {
        width: 120px;
        height: 23px;
        margin-top: 20px;
        margin-left: 20px;
    }

    .block input {
        width: 220px;
        height: 60px;
        margin-top: 18px;
        margin-left: 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-indent: 24px;
    }

    .block input:focus {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-indent: 24px;
    }

    .question {
        font-weight: 400;
        font-size: 16px;
        margin-left: 100px;
        margin-top: 25px;
        white-space: nowrap;
    }

    .small-text {
        margin-left: 50px;
    }

    .next {
        width: 150px;
        height: 45px;
        border-radius: 0;
        margin-top: 20px;
        font-size: 18px;
        line-height: 24px;
    }

    .item {
        font-weight: 350;
        font-size: 18px;
        line-height: 24px;
        margin-left: 70px;
        white-space: normal;
    }

    .key {
        width: 310px;
        height: 72px;
        margin-left: 70px;
        font-size: 16px;
        line-height: 21px;
        border-radius: 0;
    }

    .send-key {
        margin-left: 160px;
        margin-top: 3px;
    }

    .email {
        font-size: 16px;
        line-height: 21px;
        white-space: nowrap;
        margin-left: 42px;
    }

    .instruction-text.open {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .mt-64 {
        margin-top: 20px;
    }

    .point {
        font-size: 18px;
        line-height: 24px;
    }

    .text {
        line-height: 27px;
    }

    .mt-57 {
        margin-top: 30px;
    }

    .footer {
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
        font-family: 'Segoe UI', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
    }

    .footer img {
        margin-bottom: 30px;
    }

    .footer a.pl-40, .footer span.pl-60 {
        padding-left: 0;
    }

    .footer a {
        display: block;
        margin-bottom: -10px;
    }

    .small-line {
        display: none;
    }

    .ta-c img {
        width: 300px;
    }

    #ModalWindow {
        width: 380px;
    }

    #SecondModalWindow {
        width: 380px;
    }

    #first-modal-content {
        margin-left: 15px;
        margin-top: 30px;
    }

    #second-modal-content {
        margin-left: 25px;
        margin-top: 25px;
    }

    #modal-title {
        font-size: 16px;
    }

    #modal-instruction {
        font-size: 14px;
    }

    #send-email {
        font-size: 18px;
    }

    #hint {
        width: 130px;
        height: 180px;
        margin-right: 15px;
    }

    #illustration {
        width: 80px;
        height: 50px;
        margin-top: 120px;
        margin-left: 42px;
    }

    #email {
        width: 325px;
    }

    #small-instr {
        margin-top: 15px;
        margin-left: 8px;
    }

    #modal-close {
        margin-left: 110px;
    }

    #mail_es {
        margin-left: 115px;
    }

    #second-close {
        margin-left: 92px;
    }
}