.window {
    display: flex;
    visibility: hidden;
    flex-wrap: wrap;
    position: fixed;
    z-index: 99;
    -webkit-overflow-scrolling: touch;
    width: 590px;
    height: 355px;
    background: #FFFFFF;
    border: 1px solid #282828;
}

.second-window {
    display: flex;
    visibility: hidden;
    flex-wrap: wrap;
    position: fixed;
    z-index: 99;
    -webkit-overflow-scrolling: touch;
    width: 586px;
    height: 251px;
    background: #FFFFFF;
    border: 1px solid #393939;
}

.modal-close {
    display: flex;
    width: 150px;
    height: 31px;
    background: #00A4EF;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border-style: none;
    margin-left: 210px;
}

.first-modal-content {
    display: inline-block;
    width: 507px;
    height: 241px;
    margin-left: 37px;
    margin-top: 32px;
}

.modal-text {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    line-height: 27px;
    color: #000000;;
    float: left;
}

.modal-title {
    font-weight: 350;
    font-size: 23px;
    white-space: nowrap;
}

.modal-instruction {
    font-weight: 300;
    font-size: 20px;
    margin-top: 44px;
}

.hint {
    display: flex;
    width: 197px;
    height: 241px;
    background: #EAEAEA;
    border-radius: 3px;
    float: right;
}

.hint img {
    width: 75px;
    height: 16px;
    margin-top: 20px;
    margin-left: 20px;
}

.illustration {
    display: flex;
    width: 141px;
    height: 63px;
    background: #FFFFFF;
    border-radius: 3px;
    margin-top: 149px;
    position: absolute;
    margin-left: 28px;
}

.small-instr {
    display: flex;
    position: absolute;
    width: 63px;
    height: 19px;
    background: #EAEAEA;
    border-radius: 3px;
    margin-top: 30px;
    margin-left: 67px;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 27px;
}

.second-modal-content {
    display: inline-block;
    width: 450px;
    height: 110px;
    margin-left: 52px;
    margin-top: 38px;
}

.send-email {
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: 350;
    font-size: 23px;
    line-height: 27px;
    white-space: nowrap;
}

.second-modal-content input {
    width: 399px;
    height: 60px;
    background: #F6F6F6;
    border-radius: 5px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #B0B0B0;
    border-style: none;
    text-indent: 26px;
}

.second-modal-content input::placeholder {
    color: #B0B0B0;
}

.second-modal-content input:focus {
    outline: none;
}

.second-btn {
    display: inline-block;
}

.send-btn {
    display: flex;
    width: 150px;
    height: 31px;
    background: #00A4EF;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border-style: none;
    margin-left: 215px;
    margin-top: 30px;
}

.second-close {
    font-family: 'Segoe UI', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    text-decoration-line: underline;
    color: #302F2F;
    margin-top: 5px;
    margin-left: 190px;
}

.window-active {
    visibility: visible;
}

.window-shadow {
    position: fixed;
    border: none;
    display: block;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 98;
    opacity: 0;
    transition: opacity 0.15s ease;
    background-color: black;
}

.window-shadow-show {
    pointer-events: auto;
    opacity: 0.8;
}

.window-opened {
    position: fixed;
    right: 0;
    left: 0;
    overflow: hidden;
}