
@media(max-width: 1300px){
    .basket-section-content-left-block-basket-price{
        margin: 0 25px;
    }
    .catalog-cart-section-content{
        margin-top: 45px;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }
    .basket-section-content-left-block {
        width: 820px;
    }
    .basket-section-content{
        gap: 25px;
    }
    .close-btn-basket {
        right: 10px;
    }
    .swiper-wrapper-review > .swiper-slide{
        display: flex!important;
        justify-content: center;
    }
    .contacts-address-section-page-container{
        justify-content: center;
        gap: 50px 30px;
    }
    .text-and-btn-big-banner h1{
        font-size: 20px;
        line-height: 130%;
    }
    .banner{
        width: 142px;
    }
    .services-example-container {
        justify-content: flex-start;
    }
    .services-example-container2{
        justify-content: center;
    }
    .blog-cart:first-child,.big-banner,.sale-cart-product:first-child, .block-flex-news-blocks:first-child{
        margin-left: 30px;
    }
    .text-and-btn-big-banner p{
        font-size: 14px;
        line-height: 140%;
    }
    .little-banners{
        flex-direction: row;
    }
    .banners-content{
        width: 1324px;
    }
    .banners-content-scroll{
        overflow-x: scroll;
    }
    .big-banner{
        width: 420px;
        height: 200px;
        background: #FFFFFF;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06);
        padding-left: 34px;
        justify-content: left;
        padding-right: 34px;
    }
    .text-and-btn-big-banner a,.little-banner a{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 170%;
        letter-spacing: -0.02em;
        color: #EA4B43;
        text-transform: lowercase;
        background: transparent;
        padding: 0;
        border-bottom: 1px dashed #EA4B43;
    }
    .little-banner a,.text-and-btn-big-banner a{
        position: absolute;
        bottom: 25px;
    }
    .text-and-btn-big-banner h1{
        margin-bottom: 10px;
    }
    .content-blog-carts{
        width: 1300px;
        padding-bottom: 20px;
    }
    .flex-news-blocks{
        padding-bottom: 20px;
    }
    .content-blog-carts-parent,.flex-news-blocks-parent{
        overflow-x: scroll;
    }
    .flex-news-blocks{
        width: 1300px;
        flex-wrap: nowrap;
    }
    .services-example-container{
        flex-wrap: nowrap;
        overflow-x: scroll;
        padding-left: 30px;
    }
    .services-example-container2{
        flex-wrap: wrap;
        padding: 0;
        overflow-x: auto;
    }
    .banners-content{
        padding-bottom: 20px;
    }
    .sale-products{
        overflow-x: scroll;
    }
    .services-example > .container, .banners-main>.container,.sales >.container, .blog > .container, .news>.container{
        padding: 0;
    }
    .services-example > .container > .flex-title,
    .sales > .container > .flex-title,
    .blog > .container > .flex-title,
    .title-pages-blocks
    {
        padding: 0 30px;
    }
    .container{
        padding: 0 30px;
    }
    .content-pluses{
        flex-wrap: wrap;
        justify-content: center;
    }
    .services-example-top{
        gap: 30px;
    }
    .services-example-top h2{
        max-width: 410px;
    }
    .swiper-wrapperOldProducts {
        margin-left: 0;
    }
    .mySwiperOldProducts{
        padding-left: 30px!important;
    }
    .dropbtn {
        line-height: 120%;
    }
    .dropdown-content {
        min-width: 180px;
        margin-left: -20px;
    }
    .search-form{
        display: none;
    }
    }

@media(max-width: 1200px){
    .about-group-img{
        width: 200px;
    }
    .title-catalog-cart,.cart-catalog-index {
        width: 320px;
    }
    .group input,.group,.left-form-contact {
        width: 100%;
    }
    .red-contact-form-wrapper{
        padding: 50px;
        padding-bottom: 0;
        gap: 30px;
    }
    .swiper-slide-catalog{
        width: 320px!important;
    }
    .mySwiperCatalog{
        padding-left: 420px!important;
    }
    .title-catalog-cart img {
        height: 58px;
        width: auto;
    }
    .title-catalog-cart h2{
        font-size: 16px;
        line-height: 22px;
        padding-left: 12px;
    }
    .catalog-links-cart-flex{
        gap: 10px;
        margin: 0;
        padding: 15px;
    }
    .cart-catalog-index{
        padding-bottom: 15px;
    }
    .dropbtn {
        font-size: 14px;
    }
    .dropdown-content a{
        font-size: 10px;
    }
    .left-list-red li a,.text-info-town,.city-link {
        font-size: 12px;
    }
    .city-link img{
        width: 8px;
    }
    .dropdown-content {
        min-width: 150px;
        margin-left: -20px;
    }
    .dropdown-content ul li{
        padding: 5px 0;
    }
}
@media(max-width: 1150px){
    .basket-section-content-left-block-text-info-text{
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
    .basket-section-content-left-block-info{
        max-width: 135px;
    }
    .basket-section-content-left-block{
        height: auto;
    }
    .basket-section-content-left {
        width: 73%;
    }
    .basket-section-content-left-block{
        width: 100%;
    }
    }
@media(max-width: 1024px){
    .basket-section-content{
        flex-direction: column;
        align-items: center;
    }
    .basket-section-content-left{
        width: 100%;
    }
    .section-about-us-page-content-left{
        display: none;
    }
    .services-page-section-container{
        flex-direction: column;
        gap: 20px;
    }
    .section-about-us-page-content-middle p{
        margin: 0;
    }
    .form-contact2{
        height: auto;
    }
    .section-about-us-page-content{
        gap: 30px;
    }
    .circle-form-absolute{
        display: none;
    }
    .red-contact-form-wrapper{
        flex-direction: column;
        height: 100%;
        padding: 30px 20px 40px 20px;
    }
    .left-text-red-contact-form-wrapper br,.center-tel-and-text br{
        display: none;
    }
    .right-red-contact-form-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .forms-wrapper-flex{
        flex-direction: column;
        width: 100%;
    }
    .left-form-contact{
        gap: 20px;
    }
    .form-contact,.forms-wrapper-flex-big,.group textarea{
        width: 100%;
    }
    .form-submit-contact button{
        margin: 0 auto;
    }
}
@media(max-width: 771px){
    .section-order-pay-container-blocks{
        flex-wrap: wrap;
    }
    .catalog-cart-section-content{
        margin-top: 30px;
    }
    .basket-section-content-left-block-img{
        width: 60px;
        height: 60px;
    }
    .basket-section-content-left-block-img img{
        width: 80%;
    }
    .basket-section-content-left-block-img{
        margin-right: 15px;
    }
    .basket-section-content-left-block-basket-price{
        max-width: 100px;
    }
    .basket-section-content-left-block-basket-price strike{
        text-align: right;
    }
    .basket-section-content-left-block{
        padding: 15px 10px;
    }
    .catalog-products-container{
        justify-content: center;
    }
    .catalog-products-container{
        margin-top: 30px;
    }
    section{
        margin-top: 50px!important;
    }
    .sales{
        margin-top: 20px!important;
    }
    .banners-main{
        margin-top: 0!important;
    }
    .more-blogs{
        display: none;
    }
    .more-blogs-mob{
        display: flex;
        margin: 0 auto;
        margin-top: 30px;
    }
    .faq{
        padding: 30px 0;
    }
    .form-contact{
        padding: 50px 0;
    }
    .form-contact2{
        padding: 20px;
    }
    .form-contact2-title{
        margin-bottom: 20px;
    }
    .flex-title-faq{
        gap: 30px;
    }
    body {
        padding-top: 110px;
    }
    .content-info-contact{
        width: 100%;
        left: 0;
        padding-left: 25px;
        margin-left: -5px;
    }
    .red-square-map{
        display: none;
    }
    .accordion{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
    .flex-content-faq{
        gap: 30px;
    }
    .container{
        padding: 0 15px;
    }
    .services-example-top h2,.section-slider-old-products-title{
        font-size: 24px;
        line-height: 30px;
        max-width: 310px;
    }
    .left-list-red,.text-info-town,.content-third-header,.info-contact-header,.info-about-basket-header{
        display: none;
    }
    .social-icons-mob-header{
        display: flex;
        align-items: center;
        gap: 14px;
    }
    .dote-red-basket{
        width: 14px;
        top: -5px;
        right: -5px;
        height: 14px;
    }
    .dote-red-basket{
        display: none;
    }
    .dote-red-basket-mob{
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: 700;
        font-size: 9px;
        line-height: 140%;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }
    .content-red-header{
        padding: 10px 0;
    }
    .city-link{
        gap: 7px;
    }
    .logo-header img{
        width: 82px;
    }
    .content-second-header{
        padding: 16px 0;
    }
    .hamburger-menu{
        display: block;
    }
    .btn-basket-header{
        width: 31px;
        height: 31px;
    }
    .btn-basket-header img{
        width: 17px;
    }

}
@media(max-width: 650px){
    .bit-title-page{
        font-size: 30px;
    }
    .title-pages-blocks{
        padding: 0!important;
    }
    .services-example-container{
        padding-left: 15px;
    }
    .services-example-container{
        margin-top: 30px;
    }
    .slide-catalog-cart,.mySwiper2{
        width: 300px!important;
        height: 300px!important;
    }
    .swiper-button-prev-cart{
        transform: rotate(90deg) !important;
        left: -50px!important;
        top: 160px!important;
    }
    .mySwiper2{
        margin-left: 0!important;
    }
    .swiper-button-next-cart{
        transform: rotate(-90deg) !important;
        margin-right: -360px!important;
        left: auto!important;
        top: 160px!important;
    }
    .mySwiperCart{
        display: none!important;
    }
    .contacts-address-section-page-container{
        flex-direction: column;
        gap: 30px;
    }
    .contacts-section-page{
        flex-direction: column-reverse;
    }
    .map-content2,.contacts-section-page{
        margin-top: 30px!important;
    }
    .contacts-address-section-page-container-block{
        width: 100%;
    }
    .about-us-big-banner{
        margin: 25px 0;
    }
    .section-about-us-page-content{
        flex-direction: column;
    }
    .section-about-us-page-content-right-block{
        margin: 0 auto;
    }
    .content-pluses-about-us{
        margin-top: 30px;
    }
    .content-info-contact{
        top: 25px;
    }
    .map-content{
        margin-top: 25px;
    }
    .content-map-and-footer{
        align-items: flex-start;
    }
    .red-map{
        height: 600px;
        position: absolute;
        right: 0;
        width: 95px;
    }
    .map-content{
        margin-top: 150px;
        width: 100%;
    }
    .last-text-footer{
        font-size: 10px;
        line-height: 130%;
        margin-top: 27px;
        padding-bottom: 21px;
    }
    .title-pages-blocks,.left-text-red-contact-form-wrapper h2,.title-content-contact{
        font-size: 22px;
        line-height: 120%;
    }
    .title-content-contact{
        margin-bottom: 34px;
    }
    .left-text-red-contact-form-wrapper p,.center-tel-and-text p{
        font-size: 14px;
        line-height: 140%;
    }
    .text-social-form-link p,.text-block-map-social p{
        font-size: 11px;
        line-height: 140%;
    }
    .text-social-form-link span,.text-block-map-social span{
        font-size: 13px;
        line-height: 140%;
    }
    .social-form-link,.block-map-social{
        width: 140px;
        height: 50px;
        gap: 10px;
        padding: 9px 10px;
    }
    .flex-contact-social{
        margin-top: 34px;
        margin-bottom: 30px;
    }
    .last-links-contact{
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }
    .circle-red-form{
        width: 33px;
        height: 33px;
    }
    .red-contact-form-wrapper{
        gap: 25px;
    }
    .center-tel-and-text a{
        padding-bottom: 20px;
    }
    .center-tel-and-text a{
        font-size: 18px;
        line-height: 115%;
    }
    .more-blogs{
        font-size: 12px;
        line-height: 16px;
    }
    .cart-description-tab p{
        text-align: center;
    }
    .cart-description-tab{
        gap: 5px;
    }
    .social-form-link, .block-map-social{
        width: auto;
    }
}
@media(max-width: 600px){
    .services-example > .container > .flex-title,
    .sales > .container > .flex-title,
    .blog > .container > .flex-title,
    .title-pages-blocks
    {
        padding: 0 15px;
    }
    .swiper-wrapper-review >.swiper-slide img{
        width: 200px!important;
    }
    .mySwiperCatalog{
        padding-left: 400px!important;
    }
    .blog-cart:first-child,.big-banner,.sale-cart-product:first-child, .block-flex-news-blocks:first-child{
        margin-left: 15px;
    }
    .text-blog-blocks,.cart-description-tab-content p,.panel p,.services-example-container-block-content p,.catalog-cart-section-content-text p,.catalog-cart-section-content-text-gray h6,.basket-section-content-left-block-basket-price strike,.basket-section-content-left-block-text-info-text p,.bit-subtitle-page,.services-page-section-container-left p,.forms-wrapper-flex-big-p,.section-about-us-page-content-middle p,.section-about-us-page-content-right-block-text p,.section-about-us-page-content-right-block-text span,.span-a,.form-submit-contact button,.services-example-container-block-content-btn-basket,.services-example-container-block-content-btn-more,.text-and-btn-big-banner a,.little-banner a,.text-and-btn-big-banner p,.date-news-blocks p,.text-news-blocks,.text-block-contact-info{
        font-size: 12px;
        line-height: 130%;
    }


    .close-btn-basket{
        width: 15px;
        height: 15px;
        top: 10px;
    }
    .close-btn-basket img{
        width: 60%;
    }

    .services-page-section-container-left img{
        margin-bottom: 30px;
    }
    .services-page-section-container-left h3{
        margin-bottom: 10px;
    }
    .services-page-section-container-left p{
        margin-bottom: 30px;
        letter-spacing: -0.02em;
    }
    .services-example-container-block-content-btn-more,.services-example-container-block-content-btn-basket{
        width: 140px;
    }
    .panel p{
        padding-left: 0;
    }
    .flex-content-faq{
        gap: 0;
    }
    .left-text-red-contact-form-wrapper h2 > br{
        display: block!important;
    }
    .mySwiperOldProducts-block,.block-flex-news-blocks,.services-example-container-block,.services-example-container-block-img-part{
        width: 290px;
    }
    .section-about-us-page-content-right-block{
        height: auto;
    }
    .block-plus{
        padding: 20px;
        height: auto;
    }
    .section-about-us-page-content-right-block{
        padding: 20px;
    }
    .section-about-us-page-content-right-block h3{
        padding-bottom: 10px;
    }
    .block-plus img{
        margin-bottom: 25px;
    }
    .block-flex-news-blocks{
        padding: 20px;
    }
    .section-about-us-page-content-right-block{
        width: 100%;
    }
    .section-order-pay-title{
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 140%   ;
    }
    .title-blog-blocks,.cart-description-tab-content h2,.services-example-container-block-content h3,.services-example-container-block-content span,.catalog-cart-section-content-text h5,.section-order-pay-container-block p,.basket-section-content-left-block-basket-price h5,.basket-section-content-left-block-info h5,.form-contact2-title,.services-page-section-container-left h3,.contacts-address-section-page-container-text p,.contacts-address-section-page-container-text h3,.group input,.section-about-us-page-content-right-block h3,.group input::placeholder,.group textarea,.accordion,.mySwiperOldProducts-block-content span,.mySwiperOldProducts-block-content h4,.block-plus p,.title-news-blocks,.title-block-contact-info, .text-and-btn-big-banner h1,.little-banner h2{
        font-size: 14px;
        line-height: 120%;
    }
    .catalog-cart-section-content-text h5{
        margin: 15px 0;
    }
    .contacts-address-section-page-container-text h3{
        margin-bottom: 10px;
    }
    .banner{
        width: 130px;
    }
    .title-block-contact-info{
        margin-bottom: 15px;
    }
    .content-info-contact{
        height: 470px;
    }
    .text-content-blog-cart{
        padding: 0 20px;
    }
    .blog-cart:first-child{
        margin-left: 15px;
    }
    .item-marquee p {
        font-size: 12px;
    }
    .stroke-index{
        padding: 15px 0;
    }
    .item-marquee,.marquee {
        gap: 10px;
    }
    .services-example-top a{
        display: none;
    }
    .services-example-top-all-services-mob{
        display: flex;
        margin: 0 auto;
        margin-top: 50px;
    }
    .marquee {
        width: 1000px;
    }
    .big-banner,.little-banner{
        width: 290px;
        padding: 0 15px;
        height: 170px;
    }
    }
@media(max-width: 500px){
    .flex-content-faq{
        flex-direction: column;
    }
    .basket-section-content-left-block-img {
        width: 40px;
        height: 40px;
    }
    .basket-section-content-left-block-basket-price{
        margin-left: 15px;
        margin-right: 20px;
    }
    .right-faq{
        width: 100%;
    }
    .cart-description-tabs{
        flex-direction: column;
    }
    .cart-description-tabs{
        border: none;
    }
    .cart-description-tab{
        width: 100%;
        border-bottom: 1px solid #E7E7E7;
    }
    .cart-description-tab-active {
        border-bottom: 2px solid #EA4B43;
    }
    .section-slider-old-products-title{
        max-width: 160px;
    }
    .mySwiperOldProducts{
        padding-left: 10px!important;
    }
    .container{
        padding: 0 10px;
    }
    .section-404-container h1{
        font-size: 100px;
    }
    .section-404-container h2{
        font-size: 20px;
    }
    .section-404-container p{
        font-size: 14px;
    }
}
@media(max-width: 420px){
    .slide-catalog-cart, .mySwiper2 {
        width: 250px!important;
        height: 250px!important;
    }
    .swiper-button-prev-cart{
        left: -45px!important;
        display: block!important;
        top: 130px!important;
    }

    .swiper-button-next-cart{
        transform: rotate(-90deg) !important;
        margin-right: -305px!important;
        top: 130px!important;
    }
    .basket-section-content-left-block{
        flex-direction: column;
        gap: 15px;
    }
    .basket-section-content-left-block-img {
        width: 100px;
        height: 100px;
    }

    .basket-section-content-left-block-basket-price{
        max-width: 100% ;
        align-items: flex-start;
    }
    .basket-section-content-left-content-centre{
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 30px;
    }
    .basket-section-content-left-block-basket-price h5,.basket-section-content-left-block-basket-price strike{
        text-align: left;
    }
    .basket-section-content-left-block-basket-price{
        margin: 0;
    }
}
@media(max-width: 360px){
    .swiper-button-prev{
        display: none!important;
    }
    .blog-cart{
        width: 290px;
    }
    .title-catalog-cart,.cart-catalog-index {
        width: 300px;
    }
    .swiper-slide-catalog{
        width: 300px!important;
    }
    .content-info-contact{
        height: auto;
        padding: 30px 20px;
    }
    .swiper-button-prev-cart{
        display: block!important;
    }
    .slide-catalog-cart, .mySwiper2 {
        width: 230px!important;
        height: 230px!important;
    }
    .swiper-button-next-cart {
        margin-right: -285px!important;
    }
}