:root {
    --main-bg-color: #037DB1;
    --main-hover-bg-color: #036F9D;
    --light-gray: #A3A8A9;
    --dark-col: #1A2528;
    --link-hover-red: #FF0043;
    --click-heart: #FF5A5F;
    --hover-black: #1D1D1D;
    --blue-btn-color: #E2E9F2;
    --light-green: #26C485;
}